%h1 Listing invoices

%table.table.table-striped
  %tr
    %th Name
    %th Sponsor
    %th Package type
    %th Total

  - @invoices.each do |invoice|
    %tr
      %td= link_to invoice.name, invoice
      %td= link_to invoice.sponsor.name, invoice.sponsor
      %td= link_to invoice.package_type.name, invoice.package_type
      %td= invoice.total

%br

%a.btn.btn-primary{href: new_invoice_path} New Invoice
