%p#notice= notice

%p
  %b Sponsor:
  = @invoice.sponsor.name
%p
  %b Package type:
  = @invoice.package_type.name
%p
  %b Total:
  = @invoice.total

%a.btn.btn-default{href: edit_invoice_path(@invoice)} Edit