%h1 Welcome
- if browserid_email
  %h2 Persona
  %p You are currently logged in via Persona
  %p Address: #{browserid_email}

%h2 Account
- if browserid_authenticated?
  %p Your user account is active
- else
  - if browserid_email
    %p Your email address is not active
    %p Contact the site owner for access
  - else
    %p You are not logged in

%h2 Models
%img{src: '/models.png'}