%h1 Listing sponsors

%table.table.table-striped
  %tr
    %th Name
    %th State
    %th Invoice

  - @sponsors.each do |sponsor|
    %tr
      %td= link_to sponsor.name, sponsor
      %td= sponsor.state
      %td
        -if invoice = sponsor.invoice
          = link_to number_to_currency(invoice.total), invoice
        -else
          = link_to 'Create Invoice', new_invoice_url(sponsor_id: sponsor.id)

%br

%a.btn.btn-primary{href: new_sponsor_path}
  %span.glyphicon.glyphicon-plus
  New Sponsor
