%h1 Listing sponsors

%table.table.table-striped
  %tr
    %th Name
    %th State

  - @sponsors.each do |sponsor|
    %tr
      %td= link_to sponsor.name, sponsor
      %td= sponsor.state

%br

%a.btn.btn-primary{href: new_sponsor_path} New Sponsor
